INVESTOPEDIA_EMAIL="YOUREMAILHERE"
INVESTOPEDIA_PASSWORD="YOURPASSWORDHERE"
INVESTOPEDIA_NUM_LEADERBOARDS=3

DISCORD_BOT_TOKEN="YOURTOKENHERE"
DISCORD_CHANNEL_ID_Leaderboard = YOURCHANNELIDHERE
DISCORD_CHANNEL_ID_Stocks = YOURCHANNELIDHERE
